<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Хотели, хостели, ресторанти и барове и пешеходен достъп на жителите на София до тях (студентски проект)</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='lib/leaflet.css') }}">
	<script src="{{ url_for('static', filename='lib/leaflet.js') }}"></script>
	<script src="{{ url_for('static', filename='lib/Leaflet.TileLayer.MBTiles.js') }}"></script>
</head>
<body>
	<main>
		<div id="map"></div>
		<section class="radio-section">
		<div class="radio-list">
			<h1>Types of locations to visit:</h1>
			<div class="radio-item"><input name="radio" id="radio1" checked type="radio" onclick="setLocationsOption(['bar'])"><label for="radio1">Bars</label></div>
			<div class="radio-item"><input name="radio" id="radio2" type="radio" onclick="setLocationsOption(['restaurant'])"><label for="radio2">Restaurants</label></div>
			<div class="radio-item"><input name="radio" id="radio3" type="radio" onclick="setLocationsOption(['bar', 'restaurant'])"><label for="radio3">Bars & Restaurants</label></div>
		</div>
		</section>
		<script src="{{ url_for('static', filename='geoscript.js') }}"></script>
	</main>
</body>
</html>
